<!-- <ion-menu type="reveal" contentId="user_content">
  <ion-content class="ion-padding">
    <div class="profile">
      <div class="img-profile">
        <img alt="profile-picture" [src]="'http://localhost:3000/' +  user.imagePath">
      </div>
      <div class="buttons">
        <ion-button routerLink="/stores">
          <ion-icon name="person-outline"></ion-icon>
          <span class="ion-text-left">Tiendas</span>
        </ion-button>
        <ion-button>
          <ion-icon name="refresh-outline"></ion-icon>
          <span class="ion-text-left">Tiendas recientes</span>
        </ion-button>
        <ion-button>
          <ion-icon name="star-outline"></ion-icon>
          <span class="ion-text-left">Tus favoritos</span>
        </ion-button>
        <ion-button class="unique-button"><ion-icon slot="end" name="log-out-outline"></ion-icon></ion-button>
      </div>
    </div>
  </ion-content>
</ion-menu>  -->

<ion-content id="user_content">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title></ion-title>
      <ion-buttons >
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="user_data"> 
    <div id="img-user">
      <img alt="profile-picture" [src]="'http://localhost:3000/'+ user.imagePath">
    </div>
    <div id="information">
      <div class="data">
        <ion-label>Nombre</ion-label>
        <ion-item>
        <ion-input  disabled>{{user.name}}</ion-input>
        </ion-item>
      </div>
      <div class="data">
        <ion-label>Email</ion-label>
        <ion-item>
        <ion-input  disabled>{{user.email}}</ion-input>
        </ion-item>
      </div>
      <div class="button">
        <ion-button (click)="goToEdit()"><ion-icon name="pencil-outline"></ion-icon>Editar</ion-button>
      </div>
    </div>
  </div>
</ion-content>
