<ion-menu type="reveal" contentId="product-content">
  <ion-content class="ion-padding">
    <div class="profile">
      <div class="img-profile">
        <img alt="profile-picture" src="https://ionicframework.com/docs/img/demos/avatar.svg">
      </div>
      <div class="buttons">
        <ion-button>
          <ion-icon name="person-outline"></ion-icon>
          <span class="ion-text-left">Tu perfl</span>
        </ion-button>
        <ion-button>
          <ion-icon name="refresh-outline"></ion-icon>
          <span class="ion-text-left">Tiendas recientes</span>
        </ion-button>
        <ion-button>
          <ion-icon name="star-outline"></ion-icon>
          <span class="ion-text-left">Tus favoritos</span>
        </ion-button>
        <ion-button class="unique-button"><ion-icon slot="end" name="log-out-outline"></ion-icon></ion-button>
      </div>
    </div>
  </ion-content>
</ion-menu> 
<ion-content id="product-content">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title></ion-title>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-back-button color="danger"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="product">
    <div id="img-product">
      <img src="https://docs-demo.ionic.io/assets/madison.jpg" alt="The Wisconsin State Capitol building in Madison, WI at night">
    </div>
    <div id="information">
      <h1>Title</h1>
      <h2>Description</h2>
      <p>Precio</p>
    </div>
  </div>
</ion-content>
