<!-- <ion-menu type="reveal" contentId="stores-content">
  <ion-content class="ion-padding">
    <div class="profile">
      <div class="img-profile">
        <img alt="profile-picture" [src]="'http://localhost:3000/' +  user.imagePath">
      </div>
      <div class="buttons">
        <ion-button routerLink="/profile">
          <ion-icon name="person-outline"></ion-icon>
          <span class="ion-text-left">Tu perfl</span>
        </ion-button>
        <ion-button>
          <ion-icon name="refresh-outline"></ion-icon>
          <span class="ion-text-left">Tiendas recientes</span>
        </ion-button>
        <ion-button>
          <ion-icon name="star-outline"></ion-icon>
          <span class="ion-text-left">Tus favoritos</span>
        </ion-button>
        <ion-button class="unique-button"><ion-icon slot="end" name="log-out-outline"></ion-icon></ion-button>
      </div>
    </div>
  </ion-content>
</ion-menu>  -->
<ion-content id="stores-content">
  <div class="data">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <p>Hola! {{user.name}}</p>
    </ion-buttons>
  </div>
  <div class="stores">
    <ion-card *ngFor="let store of addedStores">
      <img alt="Silhouette of mountains" [src]="'http://localhost:3000/' +  store.imagePath" (click)="goToStore(store._id)"/>
      <ion-card-header (click)="goToStore(store._id)">
        <ion-card-title>{{store.name}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>